<div class="container" style="margin-top: 10%; margin-left: 25%;"> 

    <div style="margin-left: 13%;">
        <div class="row show-hide-message ">
          <div class="row show-hide-message">
              <div [ngClass]="messageclass">
                  {{message}}
              </div>
          </div>
      </div>
      </div>

    <div class="card "  style="width: 50%; background-color: #D81B60 ;">
        <div class="card-body">
            <div >
                <form [formGroup]="form" (submit)="changePassword()">
                    <h1 style="text-align: center; color: #fff; margin-top: 3%;">CHANGE PASSWORD</h1>
              
              <div class="form-group" style="margin-top: 5%;">
                  <div [ngClass]="{'has-error':('form.controls.password.errors && form.controls.password.dirty'), 'has-success':'!form.controls.password.errors'}">
                      <input type="password" name="password" class="form-control" autocomplete="off" placeholder="Password" formControlName="password" />
                    
                     <div style="text-align: right;">
                     
                     </div>
                  </div>
                  <ul class="help-block">
                    <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">
                        This field is required
                    </li>
                    
                </ul>
              </div>
              <div style="text-align: center; margin-top: 5%;">
                <button  [disabled]="!form.valid" type="submit" class="btn btn-primary" style="background-color: #fff; color: black;" >CHANGE</button>
              </div>

                </form>
            </div>
               
        </div>
      </div>
</div>