
<div class="container" style=" margin-top: 5%;" #attendance>
    <div style="text-align: center;">   
        <h1 style="text-align: center; color: #D81B60; margin-top: 3%;">ATTENDANCE LIST</h1>
        <label for="date" style="color: #D81B60; margin-top: 1%;" >Select Date :</label> &nbsp;
    <input type="date" #date date-format  [(ngModel)]="selectedDate"  (change)="print()"  style="color: #D81B60;">

    </div>
   
    <div style=" margin-top: 5%;">
        <div style="text-align: center;" class="row show-hide-message ">
          <div class="row show-hide-message">
              <div [ngClass]="messageclass">
                  {{message}}
              </div>
          </div>
      </div>
      <div *ngIf="attendanceService.attendanceList">
        <table class="table table-striped " style="background-color: #D81B60;">
            <thead style="color: #fff;">
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Roll No</th>
                <th scope="col">Reason</th>
                <th scope="col">Check In</th>
                <th scope="col">Check Out</th>
              </tr>
            </thead>
            <tbody *ngFor="let data of attendanceService.attendanceList" style="color: #D81B60; background-color: #fff;">
              <tr>
                <td>{{attendanceService.attendanceList.indexOf(data)+1}}</td>
                <td>{{data.rollno}}</td>
                <td>{{data.reason}}</td>
                <td>{{data.checkIn}}</td>
                <td>{{data.checkOut}}</td>
              </tr>
              
            
            </tbody>
          </table>
      </div>
      


</div>